<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<context:component-scan base-package="com.aghit.scheduler.protocol" />
	<context:component-scan base-package="com.aghit.scheduler.mina" />
	<context:component-scan base-package="com.aghit.scheduler.exception" />
	<context:component-scan base-package="com.aghit.scheduler.client" />

	<task:annotation-driven proxy-target-class="true" />

	<bean id="clientConfig" class="com.aghit.scheduler.client.ClientConfig">
		<property name="schedulerIp" value="${scheduler.ip}"></property>
		<property name="schedulerPort" value="${scheduler.port}"></property>
		<property name="clientType" value="${client.type}"></property>
		<property name="workThread" value="${engine.workThread}"></property>
		<property name="autoConnect" value="${engine.autoConnect}"></property>
		<property name="autoRegister" value="${engine.autoRegister}"></property>
		<property name="reconnectInterval" value="${engine.reconnectInterval}"></property>
		<property name="identityType" value="${auth.identityType}"></property>
	</bean>

	<bean id="jsonCodec" class="com.aghit.scheduler.protocol.impl.JsonCodec">
		<property name="charset">
			<bean class="java.nio.charset.Charset" factory-method="forName">
				<constructor-arg value="UTF-8"></constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="codecFactory" class="com.aghit.scheduler.mina.codec.DefaultCodecFactory" />

	<bean id="connector" class="org.apache.mina.transport.socket.nio.NioSocketConnector">
		<property name="connectTimeoutMillis" value="5000" />
		<property name="sessionConfig.readBufferSize" value="1024" />
		<property name="sessionConfig.bothIdleTime" value="600" />
		<property name="defaultRemoteAddress">
			<bean class="java.net.InetSocketAddress">
				<constructor-arg value="${scheduler.ip}" />
				<constructor-arg value="${scheduler.port}" />
			</bean>
		</property>
		<property name="handler">
			<bean class="com.aghit.scheduler.client.mina.ClientIoHandler" />
		</property>
		<property name="filterChainBuilder">
			<bean class="org.apache.mina.core.filterchain.DefaultIoFilterChainBuilder">
				<property name="filters">
					<map>
						<entry key="codecFilter">
							<bean class="org.apache.mina.filter.codec.ProtocolCodecFilter">
								<constructor-arg ref="codecFactory" />
							</bean>
						</entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="UnPIdentity" class="com.aghit.scheduler.protocol.security.UnPIdentity">
		<property name="username" value="${auth.username}"></property>
		<property name="password" value="${auth.password}"></property>
	</bean>

	<bean id="engineRegister" class="com.aghit.scheduler.protocol.entities.EngineRegister">
		<property name="engineType" value="${client.type}" />
		<property name="workThread" value="${engine.workThread}" />
		<property name="identityType" value="${auth.identityType}" />
	</bean>

	<bean id="client" class="com.aghit.scheduler.client.AutoConnectClient">
		<property name="identity" ref="UnPIdentity"></property>
		<property name="register" ref="engineRegister"></property>
	</bean>

</beans>