<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:cxf="http://cxf.apache.org/core"
   xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
  xmlns:sec="http://cxf.apache.org/configuration/security"
  xmlns:http="http://cxf.apache.org/transports/http/configuration"
  xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
  xsi:schemaLocation="
  	http://cxf.apache.org/core
    http://cxf.apache.org/schemas/core.xsd
      http://cxf.apache.org/configuration/security
      http://cxf.apache.org/schemas/configuration/security.xsd
      http://cxf.apache.org/transports/http/configuration
      http://cxf.apache.org/schemas/configuration/http-conf.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- 在客户端端设置响应超时限制 -->
    <http-conf:conduit name="{*.http-conduit">       
      <http-conf:client ConnectionTimeout="10000" ReceiveTimeout="10000"/>      
   </http-conf:conduit>     
    <cxf:bus>
        <cxf:features>
            <cxf:logging />
            <cxf:fastinfoset force="false" />
        </cxf:features>
    </cxf:bus> 
    

</beans>
