<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MtsDBDataUnstructuredMapper">
	
	<!-- 结果集 -->
	<resultMap type="MtsDBDataUnstructured" id="MtsDBDataUnstructuredResultMap">
		<id column="DATA_UNSTRUCTURED_ID" property="DATA_UNSTRUCTURED_ID" />
		<result column="AREA_CODE" property="AREA_CODE" />
		<result column="IMPORT_NAME" property="IMPORT_NAME" />
		<result column="STATUS" property="STATUS" />
		<result column="BATCH_NUM" property="BATCH_NUM" />
		<result column="DATA_SOURCE_CODE" property="DATA_SOURCE_CODE" />
		<result column="OPERATE_TIME" property="OPERATE_TIME" />
	</resultMap>
	
	<!--表名 -->
	<sql id="tableName">
		MTS_DB_DATA_UNSTRUCTURED
	</sql>
	
	<sql id="dataSourceTableName">
		MTS_DATA_SOURCE
	</sql>
	
	<sql id="areaTableName">
		MTS_AREA
	</sql>
	
	
	<!-- 字段 -->
	<sql id="Field">
		DATA_UNSTRUCTURED_ID,	
		AREA_CODE,	
		IMPORT_NAME,
		STATUS,
		BATCH_NUM,
		DATA_SOURCE_CODE,
		OPERATE_TIME
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{DATA_UNSTRUCTURED_ID},
		#{AREA_CODE},
		#{IMPORT_NAME},
		#{STATUS},
		#{BATCH_NUM},
		#{DATA_SOURCE_CODE},
		#{OPERATE_TIME}
	</sql>

    <!-- 添加 -->
	<insert id="addMtsDBDataUnstructured" parameterType="MtsDBDataUnstructured">
		insert into 
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>	
		)
	</insert>
	
	<!-- 保存修改 -->
	<update id="editMtsDBDataUnstructured" parameterType="MtsDBDataUnstructured">
		update 
		<include refid="tableName"></include>
		set AREA_CODE = #{AREA_CODE},
		IMPORT_NAME = #{IMPORT_NAME},
		STATUS = #{STATUS},
		BATCH_NUM = #{BATCH_NUM},
		DATA_SOURCE_CODE = #{DATA_SOURCE_CODE},
		OPERATE_TIME = #{OPERATE_TIME}
		where DATA_UNSTRUCTURED_ID = #{DATA_UNSTRUCTURED_ID}
	</update>
	
	<!-- 删除  -->
	<delete id="deleteMtsDBDataUnstructured" parameterType="MtsDBDataUnstructured">
		delete from 
		<include refid="tableName"></include>
		where DATA_UNSTRUCTURED_ID=#{DATA_UNSTRUCTURED_ID}
	</delete>
	
	<!-- 通过聚类获取标化类型 -->
	<select id="findMtsDBDataUnstructured" parameterType="MtsDBDataUnstructured" resultType="MtsDBDataUnstructured">
		select 
		<include refid="Field"></include> 
		from 
		<include refid="tableName"></include>
		where 1=1 
		<if test="AREA_CODE != null and AREA_CODE != ''">
			and AREA_CODE = #{AREA_CODE}
		</if>
		<if test="IMPORT_NAME != null and IMPORT_NAME != ''">
			and IMPORT_NAME = #{IMPORT_NAME}
		</if>
		<if test="STATUS != null and STATUS != ''">
			and STATUS = #{STATUS}
		</if>
		<if test="BATCH_NUM != null and BATCH_NUM != ''">
			and BATCH_NUM = #{BATCH_NUM}
		</if>
		<if test="DATA_SOURCE_CODE != null and DATA_SOURCE_CODE != ''">
			and DATA_SOURCE_CODE = #{DATA_SOURCE_CODE}
		</if>
		<if test="OPERATE_TIME != null and OPERATE_TIME != ''">
			and OPERATE_TIME = #{OPERATE_TIME}
		</if>
		<if test="DATA_UNSTRUCTURED_ID != null and DATA_UNSTRUCTURED_ID != ''">
			and DATA_UNSTRUCTURED_ID = #{DATA_UNSTRUCTURED_ID}
		</if>
		order by OPERATE_TIME desc
	</select>
	
	<!-- 获取数据加载规则列表 -->
	<select id="mtsDBDataUnstructuredlistPage" parameterType="page" resultType="pd">
		select 
		a.DATA_UNSTRUCTURED_ID,	
		a.IMPORT_NAME,
		a.STATUS,
		a.BATCH_NUM,
		a.OPERATE_TIME,
		b.DESCRIPTION,
		c.AREA_NAME  
		from 
		<include refid="tableName"></include> a 
		left join <include refid="dataSourceTableName"></include> b on a.DATA_SOURCE_CODE = b.FLAG 
		left join <include refid="areaTableName"></include> c on a.AREA_CODE = c.AREA_CODE 
		where 1 = 1 
		<if test="pd.FLAG != null and pd.FLAG != ''">
			and a.DATA_SOURCE_CODE = #{pd.FLAG} 
		</if>
		<if test="pd.startDate !=null and pd.startDate !='' and pd.endDate !=null and pd.endDate !=''">
			and a.OPERATE_TIME &gt;= #{pd.startDate} and a.OPERATE_TIME &lt;= #{pd.endDate} 
		</if>
		<if test="pd.DB_DATA_TYPE != null and pd.DB_DATA_TYPE != ''">
			and a.DB_DATA_TYPE = #{pd.DB_DATA_TYPE} 
		</if>
		<!-- <if test="pd.keywords != null and pd.keywords != ''">
			and
			(
			 a.IMPORT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			 or 
			 a.BATCH_NUM LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
			) 
		</if> -->
		order by a.OPERATE_TIME desc
	</select>
</mapper>