<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PbillMapper">
	
	<!--表名 -->
	<sql id="tableName">
		P_BILL 
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,	
		IN_ID,	
		BILL_NO,	
		CODE,	
		NAME,	
		DOC_NO,	
		NUM
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID ,jdbcType=VARCHAR},	
		#{IN_ID ,jdbcType=VARCHAR},	
		#{BILL_NO ,jdbcType=VARCHAR},	
		#{CODE ,jdbcType=VARCHAR},	
		#{NAME ,jdbcType=VARCHAR},	
		#{DOC_NO ,jdbcType=VARCHAR},	
		#{NUM ,jdbcType=NUMERIC}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pb">
		insert into
			<include refid="tableName"></include>
			(<include refid="Field"></include>) 
		values 
			(<include refid="FieldValue"></include>)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
			set 
				IN_ID = #{IN_ID},	
				BILL_NO = #{BILL_NO},	
				CODE = #{CODE},	
				NAME = #{NAME},	
				DOC_NO = #{DOC_NO},	
				NUM = #{NUM}
			where 
				ID = #{ID}
	</update>
	
	<!-- 通过序列获取表唯一ID -->
	<select id="findBillID" resultType="java.lang.Integer">
		select seq_p_bill.nextval as id from dual
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		where 
			ID = #{ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select <include refid="Field"></include>
		from <include refid="tableName"></include>
		where IN_ID = #{pd.INTERID}
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
	</select>
	
	<select id="billListAll" parameterType="pd" resultType="pd">
		SELECT a.BILL_NO, a.CODE AS CODE1, a. NAME AS NAME1, a.DOC_NO, a.NUM AS NUM1, b.TYPE, b.CODE AS CODE2, b.NAME AS NAME2, b.UNIT,
			   b.SPEC, b.FORM, b.RECIPE_NO, b.PRICE, b.P_NUM, b.NUM AS NUM2, b.FEE, b.USE_DAY, b.OVER_FLAG, b.CEN_CODE, b.COM, b.PACK, dict1.D_VALUE as type_name 
		FROM p_bill a LEFT JOIN p_bill_item b ON a.id = b.b_id LEFT JOIN 
			 (SELECT d.D_KEY, d.D_VALUE, d.ORDERS, d.IS_DISABLE from p_dict d left join p_dict_type e on d.d_id = e.id 
		      where e.name = 'drug_classification' and d.is_disable = '0') dict1 on dict1.D_KEY = b.TYPE 
		WHERE a.in_id = #{INTERID} ORDER BY a.id
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
			<include refid="tableName"></include>
		where 
			ID in
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            	#{item}
			</foreach>
	</delete>
	
</mapper>