<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PdrugstoreresultMapper">
	
	<!--表名 -->
	<sql id="tableName">
		P_DRUGSTORE_RESULT
	</sql>
	
	<!--字段-->
	<sql id="Field">
		 ID,
		 IN_ID,
		 RECEIPT_COUNT,
		 LAR_PAY,
		 PLAN_PAY,
		 SER_PAY,
		 SELF_ACCOUNT_PAY,
		 SELF_CASH_PAY,
		 B_BALANCE,
		 A_BALANCE,
		 INFO 
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID,jdbcType=VARCHAR},
		#{IN_ID,jdbcType=VARCHAR},
	    #{RECEIPT_COUNT,jdbcType=NUMERIC},
	    #{LAR_PAY,jdbcType=NUMERIC},
	    #{PLAN_PAY,jdbcType=NUMERIC},
	    #{SER_PAY ,jdbcType=NUMERIC},
	    #{SELF_ACCOUNT_PAY ,jdbcType=NUMERIC},
	    #{SELF_CASH_PAY ,jdbcType=NUMERIC},
	    #{B_BALANCE ,jdbcType=NUMERIC},
	    #{A_BALANCE ,jdbcType=NUMERIC},
	    #{INFO ,jdbcType=VARCHAR}
	</sql>
	
	<!--新增-->
	<insert id="save" parameterType="pdr">
		insert into
			<include refid="tableName"></include>
			(<include refid="Field"></include>) 
		values 
		(
			<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
			set 
				IN_ID = #{IN_ID},
			    RECEIPT_COUNT = #{RECEIPT_COUNT},
			    LAR_PAY = #{LAR_PAY},
			    PLAN_PAY = #{PLAN_PAY},
			    SER_PAY = #{SER_PAY},
			    SELF_ACCOUNT_PAY = #{SELF_ACCOUNT_PAY},
			    SELF_CASH_PAY = #{SELF_CASH_PAY},
			    B_BALANCE = #{B_BALANCE},
			    A_BALANCE = #{A_BALANCE},
			    INFO = #{INFO}
			where 
				ID = #{ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</select>
	
	<select id="searchResultAll" parameterType="pd" resultType="pd">
		select <include refid="Field"></include>
		from <include refid="tableName"></include>
		where 
			IN_ID = #{INTERID}
	</select>
	
</mapper>